BOT_TOKEN=
OWNER_IDS=
ADMIN_IDS=
OTP_GROUP_LINK=https://t.me/+YourGroup
BOT_NAME=BlazeNXT OTP Bot
DEV_CONTACT=@your_telegram_username
OTP_GROUP_IDS=
DASHBOARD_PASS=admin
DASHBOARD_SECRET=your_super_secret_jwt_key
DASHBOARD_PORT=8080
